body {
    background-image: url("https://media.tenor.com/EE4a9EYY2FsAAAAC/ather2.gif");
    background-color: black;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100vh;
}

a {
    text-decoration: none;
}

.grid-container {
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
    padding-left: 20vh;
    font-size: 20vh;
}

.text1:hover,
.text2:hover,
.text3:hover {
    padding-left: 5%;
    color: red;
    transition: 0.5s;

}

.text1:after {
    content: "Hello.";
}

.text1:hover:after {
    content: "About";
    transition: 0.1s;

}

.text2:after {
    content: "I Am";
}

.text2:hover:after {
    content: "Work";
    transition: 0.1s;

}

.text3:after {
    content: "Yakshesh";
}

.text3:hover:after {
    content: "Contact";
    transition: 0.1s;

}