.pic-home{
    background-image: url("../../public/img/me.png");
    background-color: black;
    background-repeat: no-repeat;
    background-position:right;
}
.flex-container {
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
    padding-left: 20vh;
    font-size: 15vh;
}



.text1:hover,
.text2:hover,
.text3:hover {
    padding-left: 5%;
    transition: 0.5s;

}

.text1:after {
    content: "Hello.";
}

.text1:hover:after {
    content: "./About";
    transition: 0.1s;
    color: aquamarine;
}

.text2:after {
    content: "I Am";
    color: slateblue;
}

.text2:hover:after {
    content: "./Work";
    transition: 0.1s;
    color: darkseagreen;

}

.text3:after {
    content: "Yakshesh";
    color: cornflowerblue;
}

.text3:hover:after {
    content: "./Let's Connect";
    transition: 0.1s;
    color: lightgreen;
}

@media only screen and (max-width: 600px) {
    .pic-home{
        background-position:bottom;
    }
    .flex-container {
        font-size: 20vw;
        padding-left: 0px; 
    }
  }